.info {
    padding: 55px 0;

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        grid-column-gap: 100px;
    }

    &__item {
        p {
            font-size: 20px;
            line-height: 1.5;
        }

        a {
            text-decoration: underline;
        }
    }
}