.product {
    padding: 70px 0 90px;

    &__wrap {
        display: grid;
        grid-template-areas:"title content"
                            "booklet content"
                            "btn content";
        grid-template-columns: minmax(min-content, 30%) minmax(min-content, 70%);
        grid-column-gap: 15px;
        align-content: start;
    }

    &__title {
        align-self: start;
        font-size: 50px;
        font-weight: 400;
        color: @green;
        margin: 128px 0 30px;
        line-height: 1.1;
        grid-area: title;
    }

    &__booklet {
        align-self: start;
        margin-bottom: 20px;
        grid-area: booklet;
    }

    &__btn {
        grid-area: btn;
        justify-self: start;
        align-self: start;
        font-size: 17px;
        color: @green;
        border: 3px solid @white;
        border-radius: 100px;
        padding: 7px 15px;
    }

    &__content {
        grid-area: content;
        position: relative;
        padding-top: 59px;
        min-height: 700px;
    }

    &__item {
        width: 230px;
        height: 200px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        .hexagon {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 230px; 
            height: 200px;

            polygon {
                fill: transparent;
                stroke-width: 4;
                stroke: @green;
                transition: 0.3s;
            }
        }

        .icon {
            fill: @green;
            transition: 0.3s;
        }

        .name {
            font-size: 19px;
            font-weight: 400;
            color: @white;
            position: absolute;
            bottom: 19px;
            left: 0;
            right: 0;
            margin: 0 auto;
            line-height: 0.9;
            max-width: 110px;
            text-align: center;
        }

        &_empty {
            opacity: 0.2;
            position: absolute;

            .hexagon {
                polygon {
                    fill: none;
                }
            }

            &:nth-of-type(8) {
                right: 598px;
                top: -1px;
            }

            &:nth-of-type(9) {
                top: 169px;
                right: 0;
            }

            &:nth-of-type(10) {
                top: 500px;
                right: 188px;
            }
        }

        &:not(.product__item_empty) {
            &:nth-of-type(1) {
                top: 279px;
                right: 568px;
            }

            &:nth-of-type(2) {
                top: 169px;
                right: 378px;
            }
            
            &:nth-of-type(3) {
                top: 59px;
                right: 188px;
            }

            &:nth-of-type(4) {
                top: 499px;
                right: 568px;
            }

            &:nth-of-type(5) {
                top: 389px;
                right: 378px;
            }

            &:nth-of-type(6) {
                top: 279px;
                right: 188px;
            }

            &:nth-of-type(7) {
                top: 389px;
                right: 0;
            }

            &:hover {
                .hexagon {
                    polygon {
                        fill: @green;
                    }
                }

                .icon {
                    fill: @white;
                }
            }
        }
        
    }
}

.product-detail {
    background-color: #121e21;
    padding: 83px 0 76px;

    &__wrap {
        display: grid;
        grid-template-columns: minmax(min-content, 64%) minmax(min-content, 36%)
    }

    &__content {
        padding-right: 90px;
    }

    &__title {
        margin: 0 0 43px;
        font-weight: 700;
        color: @green;
        font-size: 40px;
    }

    &__btns {
        margin-top: 57px;
        a {
            border: 3px solid @white;
            border-radius: 100px;
            color: @green;
            font-size: 17px;
            position: relative;
            margin-right: 12px;

            &.order {
                padding: 6px 49px 8px 12px;
            }

            &.close {
                padding: 6px 41px 8px 12px;
            }

            .icon {
                position: absolute;
                fill: @green;
                top: 0;
                bottom: 0;
                right: 15px;
                margin: auto;
            }
        }
    }

    .wysiwig {
        p,
        ol,
        ul {
            font-size: 20px;
            margin: 25px 0;
        }

        p {
            line-height: 1.4;
        }

        a {
            color: @green;
        }

        ul,
        ol {
            list-style: none;
            padding: 0;  
        }

        ul {
            li {
                position: relative;
                padding-left: 30px;
                margin-bottom: 16px;

                &:before {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    background-color: @green;
                    border-radius: 100px;
                    left: 0;
                    top: 9px;
                }
            }
        }

        ol {
            counter-reset: item;
            li {
                position: relative;
                padding-left: 30px;
                margin-bottom: 16px;
                counter-increment: item;

                &:before {
                    content: counter(item)".";
                    position: absolute;
                    color: @green;
                    font-size: 15px;
                    left: 0;
                    top: 2px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .product {
        padding: 30px 0 50px;

        &__wrap {
            grid-template-columns: minmax(min-content, 27%) minmax(min-content, 73%);
        }
        
        &__title {
            align-self: start;
            font-size: 35px;
            margin: 45px 0;
        }

        &__content {
            min-height: 602px;
        }

        &__item {
            width: 200px;
            height: 174px;

            .hexagon {
                width: 200px;
                height: 174px;
            }

            .name {
                font-size: 15px;
            }

            &_empty {        
                &:nth-of-type(8) {
                    right: 510px;
                    top: 0;
                }
    
                &:nth-of-type(9) {
                    top: 151px;
                }
    
                &:nth-of-type(10) {
                    right: 157px;
                    top: 427px;
                }
            }
    
            &:not(.product__item_empty) {
                &:nth-of-type(1) {
                    top: 243px;
                    right: 471px;
                }
    
                &:nth-of-type(2) {
                    top: 151px;
                    right: 314px;
                }
                
                &:nth-of-type(3) {
                    right: 157px;
                }
    
                &:nth-of-type(4) {
                   top: 427px;
                   right: 471px;
                }
    
                &:nth-of-type(5) {
                    top: 335px;
                    right: 314px;
                }
    
                &:nth-of-type(6) {
                   top: 243px;
                   right: 157px;
                }
    
                &:nth-of-type(7) {
                    top: 335px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .product {

        &__wrap {
            grid-template-columns: minmax(min-content, 33%) minmax(min-content, 67%);
        }

        &__title {
            margin: 0 0 30px;
        }

        &__booklet {
            margin-bottom: 40px;
        }

        &__content {
            padding-top: 0;
            min-height: 485px;
        }

        &__item {
            width: 180px;
            height: 157px;

            .hexagon {
                width: 180px;
                height: 157px;
            }

            .name {
                font-size: 12px;
                bottom: 12px;
            }

            &_empty {        
                display: none;
            }
    
            &:not(.product__item_empty) {
                &:nth-of-type(1) {
                    top: 164px;
                    right: 280px;
                }
    
                &:nth-of-type(2) {
                    right: 140px;
                    top: 82px;
                }
                
                &:nth-of-type(3) {
                    right: 0;
                    top: 0;
                }
    
                &:nth-of-type(4) {
                    top: 328px;
                    right: 280px;
                }
    
                &:nth-of-type(5) {
                    top: 246px;
                    right: 140px;
                }
    
                &:nth-of-type(6) {
                    right: 0;
                    top: 164px;
                }
    
                &:nth-of-type(7) {
                    right: 0;
                    top: 328px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .product {
        &__wrap {
            grid-template-areas:"title"
                                "content"
                                "btn";
            grid-template-columns: auto;
        }

        &__booklet {
            display: none;
        }

        &__content {
            margin-bottom: 50px;
        }

        &__item {
    
            &:not(.product__item_empty) {
                margin: auto;
                &:nth-of-type(1) {
                    top: 164px;
                    right: 280px;
                    left: 0;                    
                }
    
                &:nth-of-type(2) {
                    right: 0;
                    top: 82px;
                    left: 0;
                }
                
                &:nth-of-type(3) {
                    right: 0;
                    top: 0;
                    left: 280px;
                }
    
                &:nth-of-type(4) {
                    top: 328px;
                    right: 280px;
                    left: 0;
                }
    
                &:nth-of-type(5) {
                    top: 246px;
                    right: 0;
                    left: 0;
                }
    
                &:nth-of-type(6) {
                    right: 0;
                    top: 164px;
                    left: 280px;
                }
    
                &:nth-of-type(7) {
                    right: 0;
                    top: 328px;
                    left: 280px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .product {

        &__content {
            min-height: 648px;
        }
        &__item {
    
            &:not(.product__item_empty) {
                margin: auto;
                &:nth-of-type(1) {
                    top: 82px;
                    right: 140px;
                    left: 0;                    
                }
    
                &:nth-of-type(2) {
                    right: 0;
                    top: 0;
                    left: 140px;
                }
                
                &:nth-of-type(3) {
                    right: 140px;
                    top: 246px;
                    left: 0;
                }
    
                &:nth-of-type(4) {
                    top: 164px;
                    right: 0;
                    left: 140px;
                }
    
                &:nth-of-type(5) {
                    top: 409px;
                    right: 140px;
                    left: 0;
                }
    
                &:nth-of-type(6) {
                    right: 0;
                    top: 328px;
                    left: 140px;
                }
    
                &:nth-of-type(7) {
                    right: 0;
                    top: 492px;
                    left: 140px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .product {
        &__content {
            
        }

        &__item {
            position: relative;

            &:not(.product__item_empty) {
                margin: 0 auto 20px;
                top: 0!important;
                &:nth-of-type(1) {
                    
                    right: 0;
                    left: 0;                    
                }
    
                &:nth-of-type(2) {
                    right: 0;
                    
                    left: 0;
                }
                
                &:nth-of-type(3) {
                    right: 0;
                    
                    left: 0;
                }
    
                &:nth-of-type(4) {
                    
                    right: 0;
                    left: 0;
                }
    
                &:nth-of-type(5) {
                    
                    right: 0;
                    left: 0;
                }
    
                &:nth-of-type(6) {
                    right: 0;
            
                    left: 0;
                }
    
                &:nth-of-type(7) {
                    right: 0;
                    
                    left: 0;
                }
            }
        }
    }
}